/* ESTILOS GENERALES */

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.09rem;
}

/* Modificar el modelo de cajas en CSS*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; /*Valor heredado*/
}
/*Resetear márgenes y padding*/
* {
  margin: 0;
  padding: 0;
}
/*Centrar elementos en pantalla*/
.container {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
}

/*para que no sea visible en la vista escritorio el telefono y el correo*/
.top {
  display: none;
}

h2 {
  font-size: 1.45rem;
  margin-bottom: 20px;
}

p {
  line-height: 1.8;
  padding-right: 1em;
  margin-bottom: 25px;
}

/*Estilos de los botones*/
.btn {
  display: block;
  background-color: #ff9600;
  width: 250px;
  padding: 12px 1em;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 1px solid #ffa600;
}

.btn:hover {
  background-color: transparent;
  color: #000;
}

.transparent {
  display: inline-block;
  border: 1px solid #ffa600;
  padding: 12px 1em;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.transparent:hover {
  background-color: #ffa600;
  color: #ffff;
}

/*Barra de navegación */

#navbar {
  background-color: #0b1245;
  padding: 0 5rem;
}

#navigation {
  display: flex;
  justify-content: space-between;
}

#main-nav {
  display: flex;
  list-style: none;
  font-family: "Lato", sans-serif;
}

#main-nav li a {
  color: #ffff;
  text-decoration: none;
  padding: 25px 0.9em;
  display: inline-block; /*para que aplica el espacio del bar arriba y abajo*/
}

#main-nav li:last-child {
  color: #ffa600;
  padding: 25px 0.9em;
}

#main-nav li a:hover {
  background-color: #060829;
}

#navbar-toggle {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 62px;
  right: 35px;
  display: none;
}

/*Pie de Página*/

footer {
  background-color: #121018;
}

#pieDePagina {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

footer h3 {
  color: #9f9f9f;
  font-size: 0.9rem;
  text-transform: uppercase;
}

footer ul {
  margin: 20px 0px;
}

footer li {
  list-style: none;
  padding: 20px 0px;
}

footer ul li a {
  color: #9f9f9f;
  text-decoration: none;
  font-size: 0.88rem;
}

footer a img {
  width: 160px;
}

.fa-brands {
  color: white;
  margin-left: 1em;
  font-size: 1.3rem;
}

#copyright {
  color: #9f9f9f;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid #272323;
  padding: 12px 0;
}

/*
    Contenido de inicio 
*/

article#home > section:nth-child(1) {
  background-image: linear-gradient(
      rgba(26, 26, 50, 0.9),
      rgba(26, 26, 50, 0.9)
    ),
    url(/Proyecto2/images/gavel-book.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#seccionPrimera {
  height: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seccionPrimera h1 {
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: arial, vverdana, sans-serif;
}

#seccionPrimera p {
  color: white;
  font-size: 1.5rem;
  padding: 15px 0px;
  margin-bottom: 0;
}

#seccionPrimera div {
  text-align: center;
}

#seccionPrimera a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid;
  display: inline-block;
  padding: 12px 2.5rem;
  margin: 12px 0 0;
}

#seccionPrimera a:hover {
  background-color: #aeaeae;
  color: #000;
}

/* Seccion Segunda */

#seccionSegunda {
  display: flex;
  padding: 80px 0;
}

#seccionSegunda div {
  padding: 0 0.5em;
  align-self: center;
  flex-basis: 60%;
}

#seccionSegunda img {
  flex-basis: 40%;

  /*Nose porque la regla de arriba no jala*/
  max-width: 40%;
  /*se debe que el contendio de la izquierda aplicamos el align-self
  */
  align-self: flex-start;
}

/*Seccion Tercera*/

article > section:nth-child(3) {
  background-color: #f3f3f8;
}

#seccionTercera {
  display: flex;
}

#seccionTercera.container {
  width: 90%;
  /*Tenia un margin y padding: por default a lo mejor algo de ariba */
  margin: 0 auto;
  max-width: 1366px;
  /* #seccionTercera se desalineaba porque anulé el margin: auto del .container, haciendo que en pantallas
   4K el contenido se pegara al borde izquierdo. */
}

#seccionTercera div {
  flex-basis: 50%;
  padding-left: 2em;
  align-self: center;
}

/*Seciión Cuatro */

article > section:nth-child(4) {
  text-align: center;
  padding: 80px 0 12px;
}

#seccionCuatro {
  display: flex;
  margin: 80px auto;
}

/*separción de columnas*/

.col {
  margin: 0 0.9em;
}

.col .fa-solid {
  color: #ffa600;
  font-size: 3rem;
  margin-bottom: 25px;
}

.row i {
  color: #0b1245;
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.col h3 {
  margin-bottom: 12px;
  color: #3c3c3c;
  font-size: 1.1rem;
  font-weight: 100;
}

.col P {
  font-size: 0.85rem;
  text-align: justify;
}

/*Sección Cinco*/

article > section:nth-child(5) {
  background-color: #f3f3f8;
  padding: 50px 0;
}

#seccionQuinta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*El boton es el mismo diseño que el de arriba */

/*
* ============ Diseño la-firma.html


* ESTILOS DE LA PÁGINAS
*/

main header {
  background-color: #e69807;
  padding: 45px 0;
  margin-bottom: 40px;
}

main header h1 {
  font-size: 1.9rem;
  color: #ffff;
  text-transform: uppercase;
}

#pages {
  display: flex;
  flex-flow: row wrap; /*hasta aqui la columan pasaría abajo*/
  margin-bottom: 80px;
}

/*aquí se soluciona que la columan pasé abajo*/

#pages section {
  flex-basis: 70%;
  max-width: 70%; /*por si en otros navegadores no se visualiza bien*/
  padding-right: 1rem;
  text-align: justify;
  margin-bottom: 30px;
}

aside {
  flex-basis: 30%;
  max-width: 30%;
}

/*Diseño de la columan de la izquierda 'la-firma.html"*/

aside h3 {
  background-color: #f3f1fe;
  padding: 12px 0 12px 0.5em;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

aside ul {
  list-style: none;
  margin: 0 0 30px 0.5rem;
}

aside ul li a {
  text-decoration: none;
  line-height: 1.8;
  color: #0b1245;
}

aside ul li a:hover {
  text-decoration: underline;
}

#socialMedia {
  margin: 0 0 25px 0.5rem;
}

/* como estas imagenes comparten el mismo class con otras paginas hacemos lo siguiente*/

#socialMedia i {
  margin-right: 0.8rem;
  color: #0b1245;
  font-size: 2.5rem;
}

#boletin {
  margin-left: 0.5em;
}

#boletin p {
  font-size: 1rem;
  margin-bottom: 12px;
}

#boletin label {
  display: block;
  font-size: 0.95rem;
  font-weight: bold;
  margin-bottom: 12px;
}

input#correo {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 12px;
}

#boletin input[type="submit"] {
  display: inline-block;
  padding: 10px 1em;
  color: #fff;
  border: none;
  width: 150px;
  font-size: 0.95rem;
  background-color: #008000;
}

/*DISEÑÓ ÁREAS PRACTICAS */
.row {
  clear: both;
  overflow: hidden;
  margin-bottom: 22px;
}

.row img {
  float: left;
  width: 55%;
  margin-right: 1em;
  margin-bottom: 12px;
}

/*Diseño Contacto**/

.asterisco {
  color: red;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 0.98rem;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 100%;
  height: 45px;
  margin: 5px 0;
  border: 1px solid #ccc;
}

textarea#comentario {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

input[type="submit"] {
  background-color: #008000;
  display: inline-block;
  padding: 10px 1em;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 1rem;
}

/*se parecion entre columnas*/

form {
  margin-right: 1em;
}

/*  *MEDIA QUERIES  */

/*
  ? 
  
  */
@media screen and (max-width: 1199px) {
  body {
    font-size: 0.95rem;
  }
}

/* ? APLICAR LOS SIGUIENTES ESTILOS CUANDO EL VIEWPORT TENGA UN TAMAÑO 
   ? QUE OSCILE ENTRE 960px - 1199px 
*/

@media screen and (min-width: 960px) and (max-width: 1199px) {
  body {
    font-size: 0.95rem;
  }

  #seccionPrimera h1 {
    font-size: 2.5rem;
  }

  #seccionPrimera p {
    font-size: 1.225rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  #seccionTercera img {
    flex-basis: 45%;
    max-width: 45%;
  }

  #seccionTercera div {
    flex-basis: 55%;
    padding-left: 2em;
    padding-right: 2em;
  }

  .col p {
    text-align: center;
  }

  #pages {
    margin-bottom: 12px;
  }

  #boletin p {
    font-size: 0.95rem;
  }

  aside ul li a {
    font-size: 0.95rem;
  }

  /*ajuste en areaas de practicas*/

  .row {
    margin: 0 1em 25px 0;
  }

  .row img {
    float: none;
    width: 100%;
  }

  /*Diseño de casos de estudio*/

  .transparent {
    margin-bottom: 30px;
  }

  #pages .row:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  .row i {
    margin-bottom: 20px;
    margin-right: 1em;
  }
}

/*
  ? APLICAR LOS SIGUIENTES ESTILOS CUANDO EL TAMAÑO DEL VIEWPORT SEA IGUAL O 
  ? MENOR QUE 959PX 
  
  */

@media screen and (max-width: 959px) {
  /*cambiamos a un menu de hamburguesa*/
  #navigation {
    display: block;
  }

  #seccionSegunda div,
  #seccionTercera div {
    padding: 0;
    align-self: normal;
    flex-basis: 100%;
    text-align: center;
  }

  /*empezamo a hacer el menu hamburguesa*/
  #main-nav {
    display: none;
    flex-direction: column;
  }

  #navbar-toggle {
    display: block;
  }

  #main-nav li a {
    display: block;
    padding: 20px 1em;
  }

  #main-nav li:not(:last-child) {
    border-bottom: 1px solid #353535;
  }

  /*NO SALGA EL NUMERO DE TELEFONO*/
  #main-nav li:last-child {
    display: none;
  }

  .top {
    background-color: #000;
    color: #ffa600;
    padding: 12px 0;
    font-size: 0.85rem;
    display: block;
  }

  .top ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  #seccionPrimera h1 {
    font-size: 2.5rem;
  }

  #seccionPrimera p {
    font-size: 1.25rem;
  }

  #seccionSegunda,
  #seccionTercera,
  #seccionCuatro,
  #seccionQuinta {
    flex-direction: column;
  }
  .btn,
  .transparent {
    width: 100%;
  }

  .transparent {
    margin-bottom: 20px;
  }

  #seccionSegunda img,
  #seccionTercera img {
    display: none;
  }

  #seccionTercera.container {
    width: 90%;
    padding: 0px 80px;
    text-align: center;
  }

  article > section:nth-child(4) {
    padding: 35px 0 12px 0;
  }

  #seccionCuatro {
    margin: 35px auto;
  }

  .col {
    border: 1px solid #ffa600;
    margin: 20px 30px;
    padding: 30px 2em;
  }

  .col p {
    text-align: center;
  }

  #seccionQuinta {
    text-align: center;
  }

  /*estilo del resto de las páginas */
  #pages section {
    flex-basis: 100%;
    padding-right: 0;
  }

  aside {
    flex-basis: 100%;
  }

  /*esto es para pasar el contenido abajo
  
  Porque **`#pages` seguía en fila (`row`)** y **`#pages section` (70%) + `aside` (30%) tenían `max-width` activos**, esos **dos límites de ancho** impedían que el `aside` se apilara y lo mantenían como columna lateral.

  
  */
  #pages {
    flex-direction: column; /* fuerza apilado */
  }

  #pages > section,
  #pages > aside {
    flex-basis: 100%;
    max-width: 100%; /* <- ESTA es la clave que te faltaba */
    width: 100%;
  }

  .row img {
    float: none;
    width: 100%;
  }

  #pages .row.row:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  /*esto es de los iconos de equipo.html*/

  .row i {
    margin-left: 1em;
    font-size: 1em;
  }
}

/*esto es para los footer*/

/*
? Aplicar los siguientes estilos cuando el tamaño del viewport sea igual 
? o menor que 659px

*/
@media screen and (max-width: 659px) {
  #pieDePagina {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
